# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Editor directories and system files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore venv files
.venv_win/

# Ignore data (raw and processed) by default
ResNet50_with_DAiSEE/data/*
ResNet50_with_DAiSEE/models/*

# Project-specific archived directories
**/archived/

# Ignore other models (due to its no need already)
GazeTracking/
mediapipepose.py