# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Editor directories and system files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore venv files
.venv_win/

# Ignore data (raw and processed) by default
data/*

# Project-specific archived directories
**/archived/